.out{
  white-space: nowrap;
}
.test_tab {
  background-color: antiquewhite;
}
.hello {
  display: grid;
  grid-template-rows: 50px 1fr;
}
.header {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 25px;
  line-height: 50px;
  padding: 0 10px 0 30px;
  /* border-bottom: 3px solid black; */
  box-shadow: inset 0px -3px 2px black;
}
.main {
  display: grid;
  grid-template-columns: 200px 1fr;
}
.left {
  height: calc(100vh - 50px);
  overflow-y: auto;
  overflow-x: hidden;
}
.left_menu_item {
  padding: 10px;
  margin: 5px 0;
  width: 100%;
  background-color: rgba(126, 126, 126, 0.24);
  border-left: 5px solid rgba(114, 114, 114, 0.267);
  cursor: pointer;
}
.left_menu_item:hover {
  background-color: rgba(160, 160, 160, 0.24);
  border-left: 5px solid rgba(141, 141, 141, 0.267);
}
.right {
  height: calc(100vh - 50px);
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.2s;
}
@media screen and (max-width: 400px) {
  .header:hover + .main .left{
    display: block;
  }
  .left:hover{
    display: block;
  }
   .left {
    display: none;
  }
  .right{
    width: 100%;
  }
  .main{
    display: block;
  }
  /*
  .left:hover {
    width: 200px;
  } */
  /* .main {
    position: relative;
    display: grid;
    grid-template-columns: 30px 1fr;
  } */
}
