$black : #282c34d8;
$pblack : #282c34;
$borderstyle : 1px solid rgba(0, 0, 0, 0.2);
$hovercolor : rgba(80, 80, 80, 0.08);
$hoverblackcolor : rgba(20, 20, 20, 0.8);

$middlecolor:rgb(196, 196, 196) ;
$white : rgba(255, 255, 255, 1);
$whitecolor : rgba(255, 255, 255, 0.8);
$textcolor : rgba(0, 0, 0, 0.8);

$alltransition: all 0.2s;